name: CI

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
      - name: Lint
        run: pnpm lint

  test:
    name: "Test (Node: ${{matrix.node-version}}, OS: ${{matrix.os}})"
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
        with:
          node-version: ${{matrix.node-version}}
      - name: Run tests with coverage
        run: pnpm test:coverage
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 18
          - 20
          - 22
          - 24
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest

  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
      - name: Build gember
        run: pnpm build
      - name: Create test app
        run: pnpm dlx ember-cli@latest new test-app -b @ember/app-blueprint --pnpm --skip-git
      - name: Run generators in test-app
        run: |
          node bin/gember.js component foo --cwd=test-app
          node bin/gember.js component-test foo --cwd=test-app
          node bin/gember.js controller foo --cwd=test-app
          node bin/gember.js controller-test foo --cwd=test-app
          node bin/gember.js helper foo --cwd=test-app
          node bin/gember.js helper-test foo --cwd=test-app
          node bin/gember.js modifier foo --cwd=test-app
          node bin/gember.js modifier-test foo --cwd=test-app
          node bin/gember.js route foo --cwd=test-app
          node bin/gember.js route-test foo --cwd=test-app
          node bin/gember.js service foo --cwd=test-app
          node bin/gember.js service-test foo --cwd=test-app
          node bin/gember.js util foo --cwd=test-app
          node bin/gember.js util-test foo --cwd=test-app
      - name: Run tests in test app
        run: |
          cd test-app
          pnpm lint:format
          pnpm test
